<h1>$word.getName()</h1>

<ol>
#foreach ($definition in $definitions)
<li>$definition.getDefinition()</li>
#end
</ol>


<p>Add a new definition:</p>

<form action="/newdefinition/" method="post">
  <input id="wordId" name="wordId" type="hidden" value="$word.getId()">

  <label for="definition">Definition:</label>
  <input id="definition" name="definition" type="text">

  <button type="submit" class="btn btn-default">Add definition</button>
</form>

<a href="/">Back to the dictionary!</a>
